version: '3.8'

services:
  # --- Capa de Cache & Rate Limiting (Gateway) ---
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - microservices-net

  # --- Capa de Mensajería Asíncrona (Kafka Ecosystem) ---

  # Zookeeper: Necesario para coordinar el clúster de Kafka
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - microservices-net

  # Kafka Broker: El corazón de la arquitectura orientada a eventos
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092" # Puerto expuesto para tus microservicios corriendo en local (Host)
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Configuración crítica para conectividad híbrida (Docker y Localhost):
      # - PLAINTEXT: Para conexión desde tu IDE/Terminal (localhost:9092)
      # - PLAINTEXT_INTERNAL: Para conexión entre contenedores Docker (kafka:29092)
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
